/* style.css */

body {
    background-color: #fed9b7;
    font-family: 'Roboto Mono', monospace;
    margin: 0;
    padding: 0;
    color: white;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: #00afb9;
  }
  
  .logo {
    display: flex;
    align-items: center;
  }
  
  .logo img {
    height: 40px;
    margin-right: 10px;
  }
  
  nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: 400;
  }
  
  .main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    padding: 40px;
    background-color: #fed9b7;
  }
  
  .card, .image-card {
    width: 300px;
  }
  
  .card p {
    color: black;
  }
  
  footer {
    background-color: #00afb9;
    padding: 20px 40px;

  }
  
  .social {
    display: flex;
    align-items: center;
    gap: 20px;
    color: #fed9b7;
  }

  .container {
    display: grid;
    grid-template-columns: repeat(12,90px);
    gap: 15px;
    width: 1440px;
    margin: 0 auto;
  }
  